@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-center .AchiversDetails {
    transform: scale(1.2);
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots li.slick-active button:before {
    color: white !important;
}

.slick-dots li button:before {
    color: white !important;
}
.text-undiscovered-primary {
    --tw-text-opacity: 1;
    color: rgb(0 100 92/var(--tw-text-opacity))
}

.scroll_width{
  overflow-x:scroll;
}

